{% extends 'base.html.twig' %}


{% block body %}
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
{% if posts|length > 0 %}
    {% for post in posts %}
    {% include 'micro_post/_post.html.twig' %}
    {% endfor %}
    {% else %}
    <p> No post yet</p>
    {% endif %}
    </div>
{% endblock %}
