{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block bread %}
-> Login
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div>
        <label class="block text-sm text-gray-700 dark:text-gray-300 font-medium" for="username">Email:</label>
        <input class="block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2" type="text" id="username" name="_username" value="{{ last_username }}"/>
        </div>
        <div>
        <label class="block text-sm text-gray-700 dark:text-gray-300 font-medium" for="password">Password:</label>
        <input class="block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2" type="password" id="password" name="_password"/>
        </div>

        <input type="hidden" name="_target_path" value="/micro-post"/>

        <button class="black w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2" type="submit">login</button>
    </form>
{% endblock %}
